@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/* btn-def
.btn-def
  +btn-base
  padding: 1.4rem 2rem
  +font-bold
  color: $btn-text-color
  background: $btn-bg-color
  border: none
  box-shadow: 0 1px 1px rgba(black, 0.4)
  outline: none
  user-select: none
  transition: box-shadow $animation-speed
  //-webkit-tap-highlight-color: transparent

  +media('<tab')
    padding: 1.4rem 1.2rem

  +media('<mob')
    padding: 1.2rem 2em

  @at-root
    &, input#{&}
      border-radius: 4px

  &, & > span
    +font(1.8rem, 2.2rem)
    letter-spacing: normal

  // hover
  &:hover
    .no-touch &
      box-shadow: 0 1px 1px rgba(black, 0.4), 0 3px 6px rgba(black, 0.2)

  // active
  &:active
    top: 1px

  // disabled
  &:disabled, &.disabled, &[data-disabled]
    cursor: default !important
    color: white !important
    background-color: $btn-disabled-color !important
    box-shadow: none !important
    pointer-events: none !important

    // active
    &:active
      top: auto

.btn-def_full-width
  width: 100%

/* btn-def end

/* btn-round
.btn-round, .btn-round_small
  +btn-base
  padding: 1.2rem 2rem
  color: #515151
  background: $btn-bg-color
  border: none
  box-shadow: none
  outline: none
  user-select: none
  transition: box-shadow $animation-speed
  //-webkit-tap-highlight-color: transparent

  +media('<tab')
    padding: 1.4rem 1.2rem

  +media('<mob')
    padding: 1.2rem 2em

  @at-root
    &, input#{&}
      border-radius: 2.5rem

  &, & > span
    +font(1.8rem, 2.6rem)
    letter-spacing: normal

  // hover
  &:hover
    .no-touch &
      box-shadow: 0 3px 6px rgba(black, 0.2)

  // active
  &:active
    top: 1px

  // disabled
  &:disabled, &.disabled, &[data-disabled]
    cursor: default !important
    color: white !important
    background-color: $btn-disabled-color !important
    box-shadow: none !important
    pointer-events: none !important

    // active
    &:active
      top: auto

// full parent container width
.btn-round_full-width
  width: 100%

// small variant
.btn-round_small
  +btn-base
  padding: 0.6rem 1.5rem 0.5rem

  &, & > span
    +font(1.6rem, 2.4rem)
    letter-spacing: normal

    +media('<mob')
      font-size: 1.8rem

/* btn-round end

/* btn-alt
.btn-alt
  +btn-base
  padding: 1.4rem 2rem
  +font-bold
  color: $btn-alt-text-color
  border: none
  background: $btn-alt-bg-color
  border-radius: 4px
  box-shadow: none
  outline: none
  user-select: none
  transition: box-shadow $animation-speed
  //-webkit-tap-highlight-color: transparent

  +media('<tab')
    padding: 1.4rem 1.2rem

  @at-root
    &, input#{&}
      border-radius: 4px

  &, & > span
    //+font(1.8rem, 2.2rem)
    +font(1.4rem, 2.2rem)
    letter-spacing: normal

  // hover
  &:hover
    .no-touch &
      box-shadow: 0 3px 6px rgba($btn-alt-bg-color, 0.35)

  // active
  &:active
    top: 1px

  // disabled
  &:disabled, &.disabled, &[data-disabled]
    cursor: default !important
    color: white !important
    background-color: $btn-disabled-color !important
    box-shadow: none !important
    pointer-events: none !important

    // active
    &:active
      top: auto

.btn-alt_full-width
  display: block

/* btn-alt end

/* btn-outline
.btn-outline
  +btn-base
  padding: 1.3rem 2rem
  +font-bold
  color: #000
  background: white
  border: 1px solid $border-color
  box-shadow: none
  outline: none
  user-select: none
  transition: box-shadow $animation-speed
  //-webkit-tap-highlight-color: transparent

  +media('<tab')
    padding: 1.4rem 1.2rem

  &, & > span
    +font(1.4rem, 2.2rem)
    letter-spacing: normal

  // hover
  &:hover
    .no-touch &
      box-shadow: 0 3px 6px rgba(black, 0.2)

  // active
  &:active
    top: 1px

  // disabled
  &:disabled, &.disabled, &[data-disabled]
    cursor: default !important
    color: white !important
    background-color: $btn-disabled-color !important
    box-shadow: none !important
    pointer-events: none !important

    // active
    &:active
      top: auto

.btn-outline_full-width
  display: block

/* btn-outline end