@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

html
  font-size: 62.5%

  // блокировка скролла
  &.css-scroll-fixed:not(.open-only-mob)
    +scroll-blocked

  &.css-scroll-fixed.open-only-mob
    +media('<tab-lg')
      +scroll-blocked

body
  position: relative
  +font-normal
  +font($font-size, $line-height)
  color: $text-color
  min-width: $page-layout-min
  background: $bg-color url(../../img/empty.png) no-repeat left top fixed

  // выделение текста
  *::selection
    background-color: $base-color
    color: white

.max-wrap
  max-width: $page-layout-width
  +push-auto

.layout
  @if nth($page-layout-space, 2) != 0
    +padding-horizontal(nth($page-layout-space, 2))

.layout-narrow
  @if nth($page-layout-space-narrow, 2) != 0
    +padding-horizontal(nth($page-layout-space-narrow, 2))

    +media('<desk-md')
      +padding-horizontal(nth($page-layout-space-narrow--tab, 2))

.wrapper
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: stretch
  margin: 0 auto
  //min-height: 100vh
  //min-height: 100% // not support ie
  //height: 100%
  //overflow: hidden
  //height: 100vh
  min-height: 100vh
  position: relative