@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
  padding: 0
  +font-bold
  letter-spacing: normal
  color: $title-color
  margin: 0 0 $bottom-space

  &:last-child
    margin-bottom: 0

  a
    text-decoration: none
    color: inherit
    -webkit-tap-highlight-color: transparent

    &:hover
      color: $base-color
      text-decoration: underline

h1, .h1
  +font-h1

h2, .h2
  +font-h2

h3, .h3
  +font-h3

h4, .h4
  +font($font-size-h4, $line-height-h4)

h5, .h5
  +font($font-size-h5, $line-height-h5)

h6, .h6
  +font($font-size-h6, $line-height-h6)
  text-transform: uppercase

p
  padding: 0
  margin: 0 0 $bottom-space

hr
  line-height: 1px
  height: 0
  border: none
  background: none
  border-bottom: 1px solid $border-color
  margin-bottom: $bottom-space

a
  color: $link-color
  text-decoration: underline
  cursor: default

  &:link
    cursor: pointer

  &:hover
    text-decoration: none

  &[href^="javascript:"]
    cursor: default

img
  border: none
  vertical-align: top
  max-width: 100%

  table &
    max-width: none

b, strong, th
  +font-bold

i, em
  +font-italic

i b, i strong, em b, em strong, b i, b em, strong i, strong em
  +font-bold-italic

/* columnize
.columnize, .columnize--3, .columnize--4
  column-count: 2
  column-gap: 2em
  margin-bottom: $bottom-space
  font-size: 0.9em

.columnize--3
  column-count: 3
  font-size: 0.85em

.columnize--4
  column-count: 4
  font-size: 0.8em

  +media('<net')
    column-count: 3

.columnize--3, .columnize--4

  +media('<tab')
    column-count: 2

.columnize, .columnize--3, .columnize--4

  +media('<tab-s')
    column-count: 1

/* columnize end

/* table
table
  border-collapse: collapse
  border-spacing: 0
  width: auto
  margin-bottom: $bottom-space

  td, th
    +font(1.4rem, 2.0rem)
    letter-spacing: normal
    color: inherit
    padding: 1.2rem
    border-color: $text-color

  th
    font-size: 1.8rem

.table-auto
  position: relative
  overflow: auto
  max-width: 100%
  -webkit-overflow-scrolling: touch
  margin-bottom: $bottom-space

  table
    margin-bottom: 0
    width: auto
    min-width: 100%

.tbl
  border: none

  td, th
    padding: 1.9rem
    +font-normal
    +font(1.4rem, 2.0rem)
    letter-spacing: normal
    color: $text-color
    background-color: white
    border: 1px solid $border-color

    &:first-child, &:first-child
      border-left-width: 1px

    &:last-child, &:last-child
      border-right-width: 1px
      
  td:first-child
    font-size: 1.8rem
    color: #656b83

  th, thead td
    font-size: 1.8rem
    text-align: left

  th, thead td, tfoot td
    background: #e7e1ff
    color: #656b83
    border-color: #bdb4e3

/* table end

/* article elements
.#{$article-content}
  letter-spacing: $letter-spacing

  @each $tags in h2, h3, h4, h5, '.h2', '.h3', '.h4', '.h5'
    p + #{$tags},
    ul + #{$tags},
    ol + #{$tags},
    hr + #{$tags},
    table + #{$tags},
    figure + #{$tags},
    .table-auto + #{$tags}
      margin-top: #{round-float($bottom-space * 1.5, 1)}

  // figure
  figure
    display: block
    padding: 0
    margin: #{round-float($bottom-space * 1.5, 1)} 0 $bottom-space

    img
      display: block
      max-width: 100%
      margin-bottom: 2rem

  figcaption
    display: block
    padding: 0
    margin: 0
    +font-italic
    font-size: 1.6rem
    line-height: 2.4rem
    color: $text-color-soft

  // blockquote
  blockquote
    display: block
    margin: 6rem 0
    padding: 0

    q
      position: relative
      display: block
      margin: 0
      padding: 4rem 4rem 0
      +font-normal
      +font(round-float($font-size*1.25, 1), $line-height)
      color: $text-color
      text-align: center

      &::before
        display: block
        position: absolute
        left: 0
        width: 100%
        margin: -0.15em 0
        +font(20rem, 1)
        text-align: center
        color: $base-color-light
        pointer-events: none

      &::before
        //content: '“'
        content: '”'
        top: 0

      &::after
        content: none

    cite
      text-align: right
      display: block
      margin: 1rem 0 0
      +font-italic
      +font(1.4rem, 1.8rem)
      text-align: right
      color: $base-color-light

  // list
  $list-space: 1.5rem !default
  ul, ol
    margin: 0 0 $bottom-space
    padding: 0 #{nth($section-inner-space, 2)}
    list-style: none
    font-size: 1.6rem
    line-height: 2.4rem

    li
      padding-left: $list-space
      margin: 0 0 1.2rem
      position: relative

  ul
    & > li
      &::before
        content: '—'
        display: block
        float: left
        margin: 0 0 0 -#{$list-space}
        color: $base-color-light

  ol
    $list-space: 1.5rem
    counter-reset: section

    & > li
      counter-increment: section
      padding-left: $list-space

      &::before
        display: block
        float: left
        content: counter(section) "."
        margin: 0 0 0 -#{$list-space}
        color: $base-color-light

  ul, ol
    ul, ol
      margin: round-float($bottom-space * 0.5, 1) 0

  & > p, & > ul, & > ol,
  & > h1, & > h2, & > h3, & > h4, & > h5, & > h6,
  & > .h1, & > .h2, & > .h3, & > .h4, & > .h5, & > .h6,
  & > hr, & > mark, & > blockquote, & > figure,
  & > .layout-text
    max-width: 100rem
    +push-auto

    &:last-child
      margin-bottom: 0

  & > .layout-flood,
  & > .layout-section
    max-width: $flood-layout-width
    +push-auto

  & > img,
  & > .layout-text img,
  & > .layout-flood img,
  & > .layout-section img
    display: block
    margin: 3rem auto 4rem

    +media('<tab')
      margin-top: 2.5rem
      margin-bottom: 3rem

    +media('<mob')
      margin-top: 1.5rem
      margin-bottom: 2rem

    &[align="left"]
      float: left
      max-width: 45%
      margin-right: 3rem

      +media('<tab')
        margin-right: 2rem

      +media('<mob')
        float: none
        max-width: none
        margin-right: auto

    &[align="right"]
      float: right
      max-width: 45%
      margin-left: 3rem

      +media('<tab')
        margin-left: 2rem

      +media('<mob')
        float: none
        max-width: none
        margin-left: auto

/* article elements end