@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/* user form
.user-form
  margin-bottom: $bottom-space

  &:last-child
    margin-bottom: 0

  .form-title
    display: block
    +font-alt-bold
    color: $title-color
    text-align: center
    margin-bottom: $bottom-space

    // font size
    &
      +font-h2

  form
    display: block

  .input-wrap
    &:last-child
      margin-bottom: 0

  textarea
    height: 130px
    max-height: 130px
    resize: none

  .form-buttons
    float: left
    margin-right: 30px

    +media('<mob-lg')
      float: none
      margin: 0

    [class*="btn-"]
      +media('<mob-lg')
        display: block
        width: 100%
        margin-top: $bottom-space--small

        &:first-child
          margin-top: 0

  .form-note
    overflow: hidden
    min-height: $btn-height
    +clear-spacing
    line-height: 25px

    &::before
      content: ''
      display: inline-block
      vertical-align: middle
      min-height: inherit

  .form-note__item
    display: inline-block
    vertical-align: middle
    width: calc(100% - 6px)
    +font($font-size--small, $line-height--small)
    letter-spacing: $letter-spacing

/* user form end

/* slider
.swiper-container, .swiper-pagination, .slider-arrows
  opacity: 0
  // transition
  $prop: opacity
  will-change: $prop
  transition:
    property: $prop
    duration: $animation-speed

  .is-loaded &, &.is-loaded, .no-js &
    opacity: 1

.swiper-container, .swiper-pagination-bullet, .slider-arrows
  pointer-events: none

  .is-loaded &, &.is-loaded, .no-js &
    pointer-events: auto

// slider arrows
.slider-arrows
  height: 0
  position: absolute
  width: 100%
  left: 0
  bottom: 100%
  //margin-bottom: $bottom-space--article
  pointer-events: none

  +media('<desk-sm')
    //margin-bottom: $bottom-space--article--md

  +media('<mob-lg')
    //margin-bottom: $bottom-space--article--mob
    display: none

.slider-arrows__holder
  position: relative

.slider-arrow
  position: absolute
  top: 50%
  +size(nth($slider-button-size, 2), nth($slider-button-size, 1))
  margin-top: -#{round(nth($slider-button-size, 2)/2)}
  color: $base-color
  will-change: transform
  //background: rgba(91, 255, 176, 0.51)
  // для тестирования, чтобы видеть контуры кнопки
  //background: none
  z-index: 5
  cursor: pointer
  user-select: none
  -webkit-tap-highlight-color: transparent

  .slider-arrows &
    left: auto
    top: auto
    bottom: 0
    pointer-events: auto
    margin: round((50 - nth($slider-button-size, 1))/2) 0

    +media('<desk-sm')
      margin: round((38 - nth($slider-button-size, 1))/2) 0

    +media('<mob-sm')
      margin: round((30 - nth($slider-button-size, 1))/2) 0

  svg
    display: block
    position: absolute
    left: 50%
    top: 50%
    width: $slider-arrow-size
    height: $slider-arrow-size
    margin: -#{round($slider-arrow-size/2)} 0 0 -#{round($slider-arrow-size/2)}
    // transition
    $prop: opacity
    will-change: $prop
    transition:
      property: $prop
      duration: $animation-speed

    +media('<desk-sm')
      width: $slider-arrow-size--mob
      height: $slider-arrow-size--mob
      margin: -#{round($slider-arrow-size--mob/2)} 0 0 -#{round($slider-arrow-size--mob/2)}


    & + svg
      opacity: 0

  path
    fill: currentColor

// prev arrow
.slider-arrow_prev
  left: 0

  .slider-arrows &
    right: nth($slider-button-size, 2)

// next arrow
.slider-arrow_next
  right: 0

  .slider-arrows &
    right: 0

// hover, disabled, active
.slider-arrow

  // hover
  &:not(.swiper-button-disabled):hover
    svg
      & + svg
        opacity: 1

  // active
  &:not(.swiper-button-disabled):active
    svg
      transform: translate(0, 1px)

  // disabled
  &.swiper-button-disabled
    pointer-events: auto
    cursor: default
    opacity: 0.33


/* slider pagination
.swiper-pagination
  pointer-events: none

.swiper-pagination-bullet
  display: inline-block
  vertical-align: top
  $size: 8px
  +size($size)
  border-radius: round($size / 2)
  border: none
  color: $base-color
  opacity: 0.3
  margin: 6px
  pointer-events: auto
  background: white
  // transition
  $prop: opacity
  will-change: $prop
  transition:
    property: $prop
    duration: $animation-speed
    timing-function: ease-in-out

  .swiper-container-horizontal>.swiper-pagination-bullets &
    margin: 0 6px

  // hover
  &:hover
    opacity: 0.8

.swiper-pagination-bullet-active
  opacity: 1
  cursor: default

  &:hover
    opacity: 1
    cursor: default

/* slider end

/* slick sliders
// slider
.slick-slide
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important
  outline: none !important

// arrows
.slick-arrow
  +size(40px)
  display: block
  position: absolute
  border: none
  border-radius: 0
  background: none
  outline: none
  box-shadow: none
  opacity: 1
  z-index: 6
  transition-property: background, opacity, visibility
  transition-duration: 0.2s

  .no-touchevents &:hover
    opacity: 1
    background: #e6e6e6

  &.slick-disabled, .no-touchevents &.slick-disabled
    opacity: 0.25
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25)
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25)
    cursor: default

    &::before
      opacity: 1

  &::before
    content: none

  &::after
    top: 50%
    content: ""
    position: absolute
    opacity: 1
    pointer-events: none
    +size(12px)
    transform: rotate(45deg)
    border: 0 solid #000

.slick-prev
  left: 0

  &::after
    left: 50%
    border-width: 0 0 2px 2px
    margin: -6px 0 0 -4px

.slick-next
  right: 0

  &::after
    right: 50%
    border-width: 2px 2px 0 0
    margin: -6px -4px 0 0

// dots
.slick-dots
  margin: 0
  line-height: 0

  .#{$user-content} &
    margin: 0
    max-width: none

  li
    vertical-align: top
    width: auto
    height: auto
    margin: 0

    &, .#{$user-content} &
      padding: 4px 10px
      margin: 0

      &::before
        content: none

    button
      width: 12px
      height: 12px
      padding: 0
      border-radius: 50%
      background: $base-color
      position: relative
      transition-property: background, border, box-shadow, transform
      transition-duration: 0.6s

      &::before
        content: ''
        position: absolute
        left: 2px
        top: 2px
        height: 8px
        width: 8px
        background: #fff
        border-radius: 50%
        opacity: 1
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.20)
        transition-property: transform, opacity
        transition-duration: $animation-speed

    &.slick-active button::before
      opacity: 0

//.no-touchevents &:hover button::before
/* slick sliders end

/* images slider
.images-slider
  position: relative
  margin-bottom: $bottom-space

  +media('<tab-lg')
    margin-bottom: $bottom-space--large

.images-slider__list, .slick-dotted.images-slider__list
  padding-bottom: $bottom-space
  margin-bottom: 0
  position: relative
  z-index: 2

.images-slider__item
  float: none
  display: inline-block
  vertical-align: top
  opacity: 0
  white-space: normal
  overflow: hidden
  position: relative
  background-color: transparent

  .slick-initialized &
    display: block
    float: left
    opacity: 1

  .no-js &
    display: block
    width: 100%
    opacity: 1
    margin-bottom: $bottom-space

  &::before
    content: ''
    display: block
    +ratio(16, 9)

    .no-js &
      content: none

  img
    position: absolute
    +position(0)
    text-align: center
    max-width: none
    width: 100%
    height: 100%
    +object-fit(contain)

    .no-js &[data-lazy]
      display: none

    .no-js &
      position: relative
      +position(auto)
      width: auto
      height: auto
      +object-fit(fill)
      margin-bottom: 1rem

  .caption
    display: none

    .no-js &
      display: block

.images-slider

  .slick-arrow
    right: 0
    left: auto
    top: 100%
    transform: translate(0, 0)

  .slick-prev
    right: 40px

  // slider counter
  .slider-counter
    position: absolute
    left: 0
    top: 100%
    color: $text-color-light

    .slide-curr
      color: $text-color

  .slick-dots, .#{$user-content} & .slick-dots
    position: absolute
    bottom: $bottom-space + 1

    li
      +padding-horizontal(7px)

      button
        width: 6px
        height: 6px
        border-radius: 50%
        background-color: white
        opacity: 0.5
        transition-property: opacity, transform
        transition-duration: $animation-speed

        &::before
          content: none

      &.slick-active button
        opacity: 1

      .no-touchevents &:hover button
        opacity: 1
        transform: scale(2)

/* images slider end

/* flashes
.flashes
  padding: 0 90px

.flashes__item, .images-slider__item .caption
  +font(1.4rem, 1.5)
  color: $text-color-light

  & > *:last-child
    margin-bottom: 0

/* flashes end

/* breadcrumbs
.breadcrumbs
  color: $text-color-light
  margin-bottom: $bottom-space--large

  +media('<desk-lg')
    margin-bottom: $bottom-space--middle

  &:last-child
    margin-bottom: 0

.breadcrumbs__list
  &, .#{$user-content} &
    padding: 0
    margin: 0
    list-style: none

    li
      padding: 0 6px 0 0
      margin: 0

      &::before, &:first-child::before
        content: none

  cursor: default
  overflow: hidden
  +font($font-size--small, $line-height--small)

  .layout-article &
    max-width: none

  li
    display: inline
    position: relative

    &::after
      display: inline-block
      vertical-align: baseline
      content: '•'
      border: none
      color: $base-color
      padding-left: 10px

    &:last-child::after
      content: none

  a
    padding-top: 0.5em
    color: $text-color
    text-decoration: none
    cursor: pointer

    span
      border-bottom: 1px solid rgba(white, 0.3)

    .no-touchevents &:hover
      color: $base-color

      span
        border-color: rgba($base-color, 0.3)

/* breadcrumbs end

/* files links
.file
  $file-icon-size: 42px
  +display-inline-block-top
  min-height: $file-icon-size
  padding: 0.5em
  +font(16px, 20px)
  color: $text-color
  text-decoration: none

  +clear

  svg
    float: left
    +size($file-icon-size)

  & > span, & > em
    display: block
    margin-left: #{$file-icon-size}
    padding-left: 1em

  & > em
    display: block
    font-size: 1.4rem
    color: $text-color-light

  .no-touchevents &:hover
    background-color: $base-color

    & > em
      color: $bg-color

.st-bg
  fill: #e2e5e7

.st-corner
  fill: #b0b7bd

.st-shadow
  fill: #cad1d8

.st-text
  fill: #fff

/* files links end

/* feature list
.feature-list
  margin-bottom: $bottom-space--medium

  &:last-child
    margin-bottom: 0

.feature-list__item
  margin-bottom: $bottom-space
  +clear

  &:last-child
    margin-bottom: 0

.feature-list__img
  float: left
  width: 25%
  margin: 0.3em $bottom-space $bottom-space--small 0

  +media("<mob-lg")
    width: auto
    float: none
    margin-right: 0

.feature-list__content
  overflow: hidden

  h3, p
    margin-bottom: $bottom-space--small

    &:last-child
      margin-bottom: 0

/* feature list end

// =============================================

/* main-section
.main-section
  position: relative
  padding-top: 2rem
  padding-bottom: 2rem

.main-section__title
  +font-bold
  font-size: 36px
  line-height: 42px
  color: #131313
  margin-bottom: 2rem

  &:last-child
    margin-bottom: 0

.mark-anchor
  position: absolute
  left: 0
  top: -#{$header-height}
  height: 0
  font-size: 0
  line-height: 0
  pointer-events: none
  overflow: hidden
  user-select: none

/* main-section end

/* promo slider
.main-section_promo
  height: 575px
  padding-top: 0
  padding-bottom: 0
  margin-bottom: -11.5rem

  &:last-child
    margin-bottom: 0

.promo-slider
  height: 100%
  overflow: hidden
  position: relative

  &::before
    $left: 130px
    $bottom: 100px
    content: ''
    display: block
    width: calc(100% + #{($left + $bottom) * 2})
    height: calc(70px + #{$bottom})
    position: absolute
    bottom: -#{$bottom}
    left: -#{$left + $bottom}
    background-color: $bg-color
    //+linear-gradient(180deg, red 0%, blue 100%)
    //clip-path: circle(3000px at 50% -2200px)
    border-radius: 50% 50% 0 0 / 100% 100% 0 0
    z-index: 9

  // arrows
  .slider-arrow
    display: none
    top: auto
    bottom: 140px
    color: white
    +size(nth($slider-promo-button-size, 2), nth($slider-promo-button-size, 1))
    margin-bottom: 60px

    +media('<mob-lg')
      display: none

    &::before, &::after
      content: ""
      display: block
      position: absolute
      width: 100%
      height: 100%
      left: 0
      top: 0
      background-color: $base-color
      z-index: -1

  .slider-arrow_prev
    &::after
      transform-origin: bottom right

  .slider-arrow_next
    &::after
      transform-origin: top left

  .swiper-pagination
    line-height: 0
    bottom: 132px

.promo-slider__item
  //display: flex
  //flex-direction: column
  //text-align: center
  //justify-content: center
  //align-items: center
  position: relative
  overflow: hidden

.promo-slider__item-img
  position: absolute
  +size(100%)
  +position(0)

  img
    display: block
    max-width: 100%
    margin: 0 auto
    +size(100%)
    +object-fit(scale-down)

.promo-slider__item-content
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  align-items: flex-start
  flex-basis: 100%
  width: 100%
  padding: $header-height 0 11.5rem 37%
  color: inherit
  text-decoration: none
  flex-grow: 1
  height: 100%

.promo-slider__item-title
  $font-size: 3.6rem
  $line-height: 4.0rem
  $font-size--tab: 3.0rem
  $line-height--tab: 3.6rem
  $font-size--mob: 1.8rem
  $line-height--mob: 2.2rem
  // ===============
  display: block
  overflow: hidden
  margin-bottom: 0.6em
  max-height: round-float($line-height * 3, 1) // maximum 3 line
  +font($font-size, $line-height)
  letter-spacing: normal
  width: 43rem
  max-width: 100%
  color: white

  +media('<tab-lg')
    font-size: $font-size--tab
    line-height: $line-height--tab
    max-height: round-float($line-height * 4, 1) // maximum 4 line
    width: auto

  +media('<mob-lg')
    font-size: $font-size--mob
    line-height: $line-height--mob
    max-height: round-float($line-height * 5, 1) // maximum 5 line

  &:last-child
    margin-bottom: 0

.promo-slider__item-footer

  .btn-def
    min-width: 20.3rem

/* promo slider end

/* category-links
.category-links
  background-color: white
  padding: 1.6rem

.category-links__title
  margin-bottom: 2rem
  display: flex
  justify-content: flex-start
  align-items: center

  &:last-child
    margin-bottom: 0

  & > svg
    display: inline-block
    vertical-align: top
    width: 3rem
    height: 3rem
    margin-right: 1rem

    path
      fill: $base-color

  & > strong
    display: inline-block
    vertical-align: top
    +font-bold
    font-size: 1.6rem
    line-height: 2.0rem
    color: #000
    margin-right: 1rem

    a
      text-decoration: none
      color: currentColor

      +underlinedLinks(#000)

  & > em
    display: inline-block
    vertical-align: top
    +font-light
    font-style: normal
    font-size: 1.4rem
    line-height: 2.0rem
    color: $base-color

.category-links__list
  display: flex
  flex-wrap: wrap
  list-style: none
  margin: 0 0 2rem
  padding: 0
  +clear-spacing

  &:last-child
    margin-bottom: 0

  li
    //display: inline-block
    //vertical-align: top
    color: #131313
    font-size: 1.4rem
    line-height: 1.8rem
    letter-spacing: normal
    padding: 0 0.5rem 1rem 0

    // for ie 9
    .no-flexwrap &
      display: inline-block
      vertical-align: top

  a
    display: inline-block
    vertical-align: top
    color: currentColor
    text-align: center
    min-height: 3.2rem
    border-radius: 1.6rem
    padding: 0.7rem 0.9rem 0.5rem
    box-shadow: inset 0 0 0 1px rgba(#bdbdbd, 0.3)
    text-decoration: none
    // transition
    $prop: border-color, background-color, color
    will-change: $prop
    transition:
      property: $prop
      duration: $animation-speed
      timing-function: ease-in-out

    &:hover
      background-color: $base-color
      border-color: $base-color
      color: white


/* category-links end

/* advise
$advise-figure-size: 6.4rem 6.4rem
$advise-figure-space: 2rem
.advise
  position: relative
  padding: 2.0rem 1.6rem 1.6rem
  background-color: white
  box-shadow: 0 0 3px rgba(black, 0.17)
  z-index: 1
  +clear

.advise__figure
  float: left
  padding: 0
  margin-right: $advise-figure-space
  height: nth($advise-figure-size, 1)
  width: nth($advise-figure-size, 2)
  border-radius: round-float(nth($advise-figure-size, 1) / 2, 1)
  overflow: hidden
  position: relative
  border: 3px solid #efefef
  
  img
    display: block
    border-radius: round-float(nth($advise-figure-size, 1) / 2, 1)
    width: 100%
    height: 100%
    max-width: none

.advise__name
  display: block
  margin-left: nth($advise-figure-size, 2) + $advise-figure-space
  +font-bold
  font-size: 1.6rem
  line-height: 2.0rem
  color: #000
  margin-bottom: 1rem

  &:last-child
    margin-bottom: 0

.advise__past
  display: block
  margin-left: nth($advise-figure-size, 2) + $advise-figure-space
  font-size: 1.4rem
  line-height: 1.8rem
  color: #9b9b9b
  margin-bottom: 1rem

  &:last-child
    margin-bottom: 0

.advise-chat
  display: block
  margin-left: nth($advise-figure-size, 2) + $advise-figure-space
  overflow: hidden

.advise-chat__list
  list-style: none
  padding: 0
  margin: 0 0 -1rem
  +clear

  li
    float: left
    margin: 0 1rem 1rem 0

  a
    $size: 2.4rem
    display: block
    height: $size
    width: $size
    text-decoration: none
    text-indent: -9999px
    overflow: hidden
    background-repeat: no-repeat
    background-image: url(../../img/sprite-chat.jpg)

    &.chat-viber
      background-position: -4px -4px

    &.chat-telegram
      background-position: -38px -4px

    &.chat-whatsapp
      background-position: -77px -4px

.advise-btn
  display: block
  text-decoration: none
  +font-bold
  font-size: 1.4rem
  line-height: 2.0rem
  text-align: center
  background-color: #ffe99c
  padding: 8px
  color: #000
  // transition
  $prop: background-color
  transition:
    property: $prop
    duration: $animation-speed
    timing-function: ease-in-out

  & > span
    display: block
    padding: 1.5rem 2rem
    background-color: white
    border-radius: 3px
    box-shadow: inset 0 0 0 1px #efefef

  //hover
  &:hover
    background-color: $base-color-alt

/* advise end

/* game-zone-anchor
.game-zone-anchor
  display: block
  text-decoration: none
  +font-bold
  font-size: 1.6rem
  line-height: 2.0rem
  color: white
  text-transform: uppercase
  text-align: center
  +ratio(259, 123)
  border-radius: 1rem
  overflow: hidden
  background-repeat: no-repeat
  background-position: center
  background-size: cover

  & > span
    display: none

/* game-zone-anchor end

/* quick-links
$ql-item-space: 12px
$ql-columns: 5
$ql-columns--desk-lg: 4
.main-section_quick-links
  position: relative
  padding-top: 0
  padding-bottom: 2rem
  z-index: 5

.quick-links
  margin-bottom: $bottom-space

  &:last-child
    margin-bottom: 0

.quick-links__list
  margin-left: -#{round($ql-item-space / 2)}
  margin-right: -#{round($ql-item-space / 2)}

  +media('<desk-lg')
    margin-left: -#{round($ql-columns--desk-lg / 2)}
    margin-right: -#{round($ql-columns--desk-lg / 2)}

  &:not(.grid-completed)
    overflow: hidden
    white-space: nowrap

.quick-links__item
  display: inline-block
  vertical-align: top
  width: calc(#{round-float(100% / $ql-columns, 2)} - #{$ql-item-space})
  margin: 0 round($ql-item-space / 2) $ql-item-space

  +media('<desk-lg')
    width: calc(#{round-float(100% / $ql-columns--desk-lg, 2)} - #{$ql-item-space})

  &.has-shadow
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25)

  // show on scroll
  //html:not(.no-js) &
    visibility: hidden

.quick-links__item-wide
  width: calc(#{round-float(100% / $ql-columns * 2, 2)} - #{$ql-item-space})

  +media('<desk-lg')
    width: calc(#{round-float(100% / $ql-columns--desk-lg * 2, 2)} - #{$ql-item-space})

/* quick-links end

/* opinion
$opinion-figure-size: 6.4rem 6.4rem
$opinion-figure-space: 2rem
$opinion-box-shadow-size: 0 2px 10px
$opinion-box-shadow-color: black
.opinion
  position: relative
  display: block
  padding: 3.0rem 4.5rem
  background-color: white
  text-decoration: none
  color: #000
  box-shadow: $opinion-box-shadow-size rgba($opinion-box-shadow-color, 0)
  // transition
  $prop: box-shadow
  transition:
    property: $prop
    duration: $animation-speed
    timing-function: ease-in-out
  +clear

  .touchevents &
    user-select: none
    -webkit-tap-highlight-color: transparent

.opinion__figure
  float: left
  padding: 0
  margin-right: $opinion-figure-space
  height: nth($opinion-figure-size, 1)
  width: nth($opinion-figure-size, 2)
  border-radius: round-float(nth($opinion-figure-size, 1) / 2, 1)
  overflow: hidden
  position: relative
  border: 3px solid white

  img
    display: block
    border-radius: round-float(nth($opinion-figure-size, 1) / 2, 1)
    width: 100%
    height: 100%
    max-width: none

.opinion__label
  display: block
  margin-left: nth($opinion-figure-size, 2) + $opinion-figure-space
  font-size: 1.4rem
  line-height: 2.0rem
  letter-spacing: 0.2em
  color: $base-color
  margin-bottom: 1rem

  &:last-child
    margin-bottom: 0

.opinion__text
  display: block
  margin-left: nth($opinion-figure-size, 2) + $opinion-figure-space
  +font-bold
  font-size: 1.8rem
  line-height: 2.6rem
  margin-bottom: 1rem

  &:last-child
    margin-bottom: 0

// alternative view
.opinion_alt
  background-color: $base-color
  color: white

  .opinion__label,
  .opinion__text
    color: currentColor

a.opinion
  // hover
  &:hover
    z-index: 5
    box-shadow: $opinion-box-shadow-size rgba($opinion-box-shadow-color, 0.15)

/* opinion end

/* opinions
.main-section_opinions
  padding-bottom: 3.5rem

.opinions
  margin-bottom: $bottom-space

  &:last-child
    margin-bottom: 0

.opinions__list
  display: flex
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18)

.opinions__item
  flex-basis: 50%
  flex-grow: 1
  background-color: white

  .no-flexwrap &
    display: inline-block
    vertical-align: top

  .opinion
    height: 100%

/* opinions end

/* topics-tabs
.topics-tabs__panel
  outline: none

/* topics-tabs end

/* caption-box
.caption-box
  display: flex
  align-items: center
  margin-bottom: 2.5rem

  &:last-child
    margin-bottom: 0

.caption-box__title
  margin-right: 5rem
  margin-bottom: 0
  +font-bold
  font-size: 36px
  line-height: 42px
  color: #131313

.caption-box__options
  position: relative

/* caption-box end

/* topics-thumbs
.topics-thumbs
  display: flex
  flex-wrap: wrap

  a
    color: #646464
    text-decoration: none
    margin: 0.5rem 4rem 0.5rem 0
    // transition
    $prop: opacity
    transition:
      property: $prop
      duration: $animation-speed
      timing-function: ease-in-out

    // for ie 9
    .no-flexwrap &
      display: inline-block
      vertical-align: top

    // touch
    &.touchevents
      user-select: none
      -webkit-tap-highlight-color: transparent

    +underlinedAnchor(#646464)

    // active
    &.tabs-active
      color: #000
      +font-bold

      & > span
        border-color: transparent

/* topics-thumbs end

/* tabs
.tabs__panels-js
  z-index: 1

.tabs__panel-js
  opacity: 0
  visibility: hidden

/* tabs end

/* product item
$product-item-space: 2rem 2.4rem
.product-item
  position: relative
  display: flex
  flex-direction: column
  justify-content: space-between
  height: 100%
  background-color: white

.product-item__header
  width: 100%
  margin-bottom: 2rem
  padding: nth($product-item-space, 1) nth($product-item-space, 2) 0

  &:last-child
    margin-bottom: 0

  & > a
    display: block
    margin-bottom: 1rem
    text-decoration: none
    color: currentColor

    &:last-child
      margin-bottom: 0

.product-item__figure
  margin-bottom: 4.5rem

  &:last-child
    margin-bottom: 0

  img
    display: block
    width: 100%
    height: 100%
    max-width: none
    +object-fit(scale-down)

.product-item__title
  display: block
  +font-bold
  font-size: 1.6rem
  line-height: 2.4rem
  color: #000
  margin-bottom: 2rem

  +underlinedLinks(black)

  &:last-child
    margin-bottom: 0

.product-item__rate
  display: block
  width: 90px

  & > span
    display: block
    width: 100%
    height: 14px
    background: url(../../img/rate.jpg) no-repeat 0 0

.product-item__footer
  padding: 0 nth($product-item-space, 2)

.product-item__meta
  display: flex
  justify-content: space-between
  align-items: center
  margin: 1rem 0
  min-height: 3.2rem

.product-item__stock
  display: flex
  align-items: center
  flex-basis: 50%
  font-size: 1.2rem
  line-height: 1.6rem
  color: #000

  // for ie 9
  .no-flexwrap &
    display: inline-block
    vertical-align: top
    width: calc(50% - 6px)

  & > svg
    $size: 1.8rem
    display: inline-block
    vertical-align: top
    width: $size
    height: $size

    path
      fill: $base-color

    & + span
      padding-left: 0.8rem

  & > span
    padding-top: 0.2rem

    // for ie 9
    .no-flexwrap &
      display: inline-block
      vertical-align: top

  // off
  &.off
    color: #c3c3c3

    & > svg path
      fill: currentColor

.product-item__price
  flex-basis: 50%
  text-align: right
  line-height: 1

  // for ie 9
  .no-flexwrap &
    display: inline-block
    vertical-align: top
    width: calc(50% - 6px)

.product-item__price-new
  & > strong
    display: inline-block
    vertical-align: baseline
    +font-bold
    font-size: 2.4rem
    line-height: 3.2rem

  & > em
    display: inline-block
    vertical-align: baseline
    font-style: normal
    font-size: 1.4rem
    line-height: 1.8rem

.product-item__option
  position: relative
  display: flex
  justify-content: space-between
  align-items: center
  line-height: 1
  margin: 0 -#{nth($product-item-space, 2) - 0.5}
  z-index: 1

  &::before, &::after
    content: ""
    display: block
    border: solid #f5f5f5
    position: absolute
    z-index: -1

  &::before
    width: 100%
    left: 0
    top: 0
    border-width: 2px 0 0

  &::after
    width: 0
    height: 100%
    left: 50%
    top: 0
    border-width: 0 0 0 2px
    margin-left: -1px

  & > a
    flex-grow: 1
    flex-basis: 50%
    display: flex
    align-items: center
    justify-content: center
    padding: 1.8rem 1rem
    font-size: 1.2rem
    line-height: 1.6rem
    text-decoration: none
    text-align: center
    color: #000
    // transition
    $prop: background-color, color
    transition:
      property: $prop
      duration: $animation-speed
      timing-function: ease-in-out

    // for ie 9
    .no-flexwrap &
      display: inline-block
      vertical-align: top
      width: calc(50% - 6px)

    & > svg
      $size: 2.2rem
      display: inline-block
      vertical-align: top
      width: $size
      height: $size

      path
        fill: $base-color
        // transition
        $prop: fill
        transition:
          property: $prop
          duration: $animation-speed
          timing-function: ease-in-out

    & > span
      padding-top: 0.2rem
      padding-right: 1rem

      // for ie 9
      .no-flexwrap &
        display: inline-block
        vertical-align: top

    // favorites
    &:first-child
      & > svg path
        fill: #ef4180

    // added
    &.added:nth-child(2)
      & > svg
        background-color: $base-color
        border-radius: 50%
        box-shadow: 0 0 0 3px rgba($base-color, 1)

        path
          fill: white

    // hover
    &:hover
      background-color: $base-color
      color: white

      & > svg path
        fill: white

.product-item__sale
  $size: 3.4rem
  position: absolute
  top: 0.5rem
  right: 1.7rem
  width: $size
  height: $size
  padding-left: 0.1em
  border-radius: round-float($size / 2, 1)
  background-color: #ef4180
  +font-bold
  font-size: 1.4rem
  line-height: $size
  color: white
  text-align: center
  pointer-events: none

.product-item__labels
  position: absolute
  top: 0
  left: 0
  pointer-events: none

.product-item__label
  font-size: 1.2rem
  line-height: 1.6rem
  color: white
  text-align: center
  padding: 1.2rem 2.4rem

.product-item__label_day
  background-color: $base-color

/* product item end

/* topic-banner
.topic-banner
  position: relative
  display: block
  overflow: hidden
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  text-decoration: none
  color: white
  // transition
  $prop: background-size
  will-change: $prop
  transition:
    property: $prop
    duration: $animation-speed
    timing-function: ease-in-out

.topic-banner__title
  position: absolute
  left: 0
  bottom: 0
  width: 100%
  +font-bold
  font-size: 2.4rem
  line-height: 3.5rem
  padding: 1rem 1.4rem 5rem
  z-index: 1

  &::before
    content: ""
    display: block
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    height: calc(100% + 6rem)
    opacity: 0.6
    +linear-gradient(to top, black 0%, rgba(black, 0) 100%)
    z-index: -1

  & > span
    box-shadow: inset 0 -2px 0 rgba(white, 0.75)
    // transition
    $prop: box-shadow
    will-change: $prop
    transition:
      property: $prop
      duration: $animation-speed
      timing-function: ease-in-out

// hover
a.topic-banner
  &:hover
    .topic-banner__title
      & > span
        box-shadow: none

/* topic-banner end

/* topics
.main-section_topics
  position: relative

$tl-item-space: 18px
$tl-columns: 4
.topics__list
  display: flex
  margin-left: -#{round($tl-item-space / 2)}
  margin-right: -#{round($tl-item-space / 2)}
  margin-bottom: $bottom-space

  &:last-child
    margin-bottom: 0

.topics__item
  width: calc(#{round-float(100% / $tl-columns, 2)} - #{$tl-item-space})
  margin: 0 round($tl-item-space / 2) $tl-item-space

  // show on scroll
  //html:not(.no-js) &
    visibility: hidden

  // for ie 9
  .no-flexwrap &
    display: inline-block
    vertical-align: top

  .product-item, .topic-banner
    height: 100%

/* topics end

/* main-banners
.main-section_banners
  position: relative
  padding-top: 0

.banner
  margin-bottom: 2rem

  &:last-child
    margin-bottom: 0

  img
    display: block
    margin: 0 auto

/* main-banners end

/* brands
.brands
  position: relative

.brands__list
  display: flex
  margin-bottom: 2rem

  &:last-child
    margin-bottom: 0

.brands__item
  display: flex
  justify-content: center
  align-items: center
  flex-basis: 20%
  flex-grow: 1
  min-height: 10rem
  text-align: center
  text-decoration: none
  color: currentColor
  background-color: white
  border: solid #f5f5f5
  border-width: 0 0 0 1px
  // transition
  $prop: box-shadow
  transition:
    property: $prop
    duration: $animation-speed
    timing-function: ease-in-out

  // for ie 9
  .no-flexwrap &
    display: inline-block
    vertical-align: top
    width: calc(20% - 6px)

  // touch
  .touchevents &
    user-select: none
    -webkit-tap-highlight-color: transparent

  &:first-child
    border: none

  img
    // transition
    $prop: transform
    transition:
      property: $prop
      duration: $animation-speed
      timing-function: ease-in-out

  // hover
  &:hover
    box-shadow: inset 0 -8px 0 $base-color

    img
      transform: translate(0, -8px)

/* brands end

/* main-section_brands
.main-section_brands
  position: relative

/* main-section_brands end

/* quick-links
.main-section_game-zone
  padding-top: 3rem
  padding-bottom: 3rem
  +linear-gradient(to bottom, #30203c 0%, #2f2c31 100%)
  margin-bottom: 4rem

  &:last-child
    margin-bottom: 0

.game-zone__caption
  display: flex
  align-items: center
  margin-bottom: 2.0rem

  &:last-child
    margin-bottom: 0

.game-zone__title
  margin-right: 5rem
  margin-bottom: 0
  +font-bold
  font-size: 36px
  line-height: 42px
  color: white

.game-zone__options
  position: relative
  padding-top: 0.5rem

// game-zone__links
.game-zone__links
  display: flex
  flex-wrap: wrap

  a
    color: #c8c8c8
    text-decoration: none
    margin: 0.5rem 4rem 0.5rem 0
    // transition
    $prop: color
    transition:
      property: $prop
      duration: $animation-speed
      timing-function: ease-in-out

    // for ie 9
    .no-flexwrap &
      display: inline-block
      vertical-align: top

    // touch
    &.touchevents
      user-select: none
      -webkit-tap-highlight-color: transparent

    +underlinedLinks(white)

// game-zone__links end

.game-zone__entry
  margin-bottom: 2rem
  column-count: 2
  column-gap: 4rem
  font-size: 1.4rem
  line-height: 2.0rem
  color: rgba(white, 0.4)

  &:last-child
    margin-bottom: 0

  p
    margin-bottom: 2.0rem

    &:last-child
      margin-bottom: 0

$gz-item-space: 12px
$gz-columns: 4
.game-zone__tiles
  margin-bottom: $bottom-space

  &:last-child
    margin-bottom: 0

.game-zone__list
  margin-left: -#{round($gz-item-space / 2)}
  margin-right: -#{round($gz-item-space / 2)}

  &:not(.grid-completed)
    overflow: hidden
    white-space: nowrap

.game-zone__item
  display: inline-block
  vertical-align: top
  width: round-float(100% / $gz-columns, 2)
  padding: 0 round($gz-item-space / 2) $gz-item-space
  color: white
  text-decoration: none

.game-zone__inner
  height: 0
  display: block
  position: relative
  background-color: #080f1f
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  // transition
  $prop: transform, box-shadow
  will-change: $prop
  transition:
    property: $prop
    duration: $animation-speed
    timing-function: ease-in-out

  // hover
  .no-touchevents &:hover
    $size: 1rem
    transform: translate(-$size, -$size)
    box-shadow: $size $size 0 rgba(black, 0.5)

  // active
  .no-touchevents &:active
    // transition
    transition: none
    $size: 0
    transform: translate(-$size, -$size)
    box-shadow: $size $size 0 rgba(black, 0.5)

.game-zone__title
  position: absolute
  left: 0
  top: 0
  width: 100%
  padding: 2rem
  +hide-text

/* quick-links end

/* articles main previews
.main-section_articles
  position: relative

$at-item-space: 10px
$at-columns: 5
.article-tiles
  margin-bottom: $bottom-space

  &:last-child
    margin-bottom: 0

.article-tiles__list
  margin-left: -#{round($at-item-space / 2)}
  margin-right: -#{round($at-item-space / 2)}

  &:not(.grid-completed)
    overflow: hidden
    white-space: nowrap

.article-tiles__item
  display: inline-block
  vertical-align: top
  width: round-float(100% / $at-columns, 2)
  padding: 0 round($at-item-space / 2) $at-item-space

.article-tiles__item-wide
  width: round-float(100% / $at-columns * 2, 2)
  
.article-tiles__inner
  position: relative
  display: block
  text-decoration: none
  color: currentColor
  overflow: hidden

.article-tiles__figure
  img
    max-width: 100%
    width: 100%

.article-tiles__content
  position: absolute
  left: 0
  top: 0
  width: 100%
  padding: 1.8rem 2.5rem
  z-index: 1

.article-tiles__title
  +font-bold
  font-size: 2.4rem
  line-height: 3.4rem
  text-decoration: underline
  color: currentColor

  &::before
    content: ""
    display: none
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    height: calc(100% + 6rem)
    opacity: 0.6
    $color: black
    +linear-gradient(to top, $color 0%, rgba($color, 0) 100%)
    z-index: -1

.article-tiles__label
  display: inline-block
  vertical-align: top
  background-color: white
  font-size: 1.2rem
  line-height: 1.6rem
  text-transform: uppercase
  letter-spacing: 0.15em
  padding: 0.3rem 1.2rem 0
  margin-bottom: 1.5rem

  &:last-child
    margin-bottom: 0

.article-tiles__date
  display: inline-block
  vertical-align: top
  font-size: 1.4rem
  line-height: 1.8rem
  margin-bottom: 0.5rem

  &:last-child
    margin-bottom: 0

// text-small
.article-tiles__item
  &.text-small
    .article-tiles__title
      font-size: 1.8rem
      line-height: 2.4rem

  &.text-light
    color: white

  &.text-bottom-left
    .article-tiles__content
      position: absolute
      top: auto
      bottom: 0

// hover
a.article-tiles__inner
  &:hover
    .article-tiles__title
      text-decoration: none

/* articles main previews end

/* helper
.main-section_helper
  position: relative

.helper
  position: relative

.helper__list
  display: flex
  margin-bottom: 2rem

  &:last-child
    margin-bottom: 0

.helper__item
  display: flex
  justify-content: center
  align-items: center
  flex-grow: 1
  flex-basis: 25%
  min-height: 12rem
  text-align: center
  text-decoration: none
  color: currentColor
  background-color: white
  border: solid #f5f5f5
  border-width: 0 0 0 1px
  // transition
  $prop: background-color
  transition:
    property: $prop
    duration: $animation-speed
    timing-function: ease-in-out

  // for ie 9
  .no-flexwrap &
    display: inline-block
    vertical-align: top
    width: calc(20% - 6px)

  // touch
  .touchevents &
    user-select: none
    -webkit-tap-highlight-color: transparent

  &:first-child
    border: none

.helper__inner
  width: calc(100% - 4rem)
  display: flex
  align-items: center
  text-align: left

  & > svg
    $size: 3.4rem
    display: inline-block
    vertical-align: top
    width: $size
    min-width: $size
    height: $size
    opacity: 0.8

    path
      fill: $base-color
      // transition
      $prop: fill
      transition:
        property: $prop
        duration: $animation-speed
        timing-function: ease-in-out

    & + span
      margin-left: 1.5rem

  & > span
    font-size: 1.4rem
    line-height: 1.8rem
    color: rgba(black, 0.8)
    // transition
    $prop: color
    transition:
      property: $prop
      duration: $animation-speed
      timing-function: ease-in-out


.helper__item
  // hover
  &:hover
    background-color: $base-color
    color: white

    .helper__inner
      & > svg path
        fill: white

      & > span
        color: white

/* helper