@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/* user options
$uo-item-size: 60px $header-height
$uo-item-size--sm: 60px $header-height--sm
$uo-space: 30px
$uo-space--sm: 20px
$uo-space--mob: 6px
$uo-icon-size: 18px
$uo-icon-size--sm: 16px

.user-options
	position: relative
	padding-left: #{round($uo-space/2)}
	+clear-spacing
	line-height: 1

	+media('<desk-md')
		padding-left: #{round($uo-space--sm/2)}

	+media('<tab-lg')
		padding-left: 0

.user-options__item
	position: relative
	+display-inline-block-middle
	+font-bold()
	min-width: nth($uo-item-size, 1)

	+media('<mob-lg')
		min-width: 34px

	& > a, & > div
		position: relative
		//display: block
		display: flex
		align-items: center
		height: nth($uo-item-size, 2)
		padding: 15px round($uo-space/2)
		color: white
		line-height: 1
		text-decoration: none
		text-align: center

		// убрать подсветку при клике на тачскринах
		.touchevents &
			user-select: none
			-webkit-tap-highlight-color: transparent

		+media('<desk-md')
			padding: 0 round($uo-space--sm/2)
			height: nth($uo-item-size--sm, 2)

		+media('<mob-lg')
			+padding-horizontal(round($uo-space--mob/2))

		//&::before
			content: ""
			+display-inline-block-middle
			height: 100%

		// tooltip
		&[data-title]::before
			content: attr(data-title)
			display: block
			min-width: 100%
			padding: 4px 8px
			border-radius: 2px
			position: absolute
			//left: 50%
			right: 0
			top: 100%
			+font(1.4rem, 20px)
			text-align: center
			letter-spacing: normal
			z-index: 2
			color: white
			background-color: #1a1a1a
			//border: 1px solid #666
			+antialiased
			//===========
			$prop: opacity, transform
			opacity: 0
			visibility: hidden
			$translate: 0, -5px
			transform: translate($translate)
			transform: translate3d($translate, 0)
			will-change: $prop
			transition:
				property: $prop
				duration: $animation-speed

		svg
			display: inline-block
			vertical-align: middle
			+size($uo-icon-size)

			// уменьшить размер для мобил
			+media('<mob-lg')
				+size($uo-icon-size--sm)

			& ~ span
				padding-left: 12px

				// скрыть текст для мобил
				+media('<mob-lg')
					display: none

			& ~ span.hide-text
				padding-left: 0

		path
			fill: currentColor

		& > span
			+display-inline-block-middle
			+font(1.6rem, 1)
			letter-spacing: normal
			text-align: left

	& > div
		cursor: default

	// tooltip align right for last item
	//&:last-child
		& > a, & > div
			// tooltip
			&[data-title]::before
				left: auto
				right: 0
				$translate: 0, -5px
				transform: translate($translate)
				transform: translate3d($translate, 0)

	// hover
	& > a
		&::after
			content: ""
			display: block
			position: absolute
			bottom: 0
			left: 0
			width: 100%
			border-top: 3px solid white
			will-change: opacity
			opacity: 0
			transition:
				property: opacity
				duration: $animation-speed

		.no-touchevents &:hover
			&::after
				opacity: 1

	& > a, & > div
		// tooltip
		.no-touchevents &[data-title]:hover
			&::before
				opacity: 1
				visibility: visible
				$translate: 0, 0
				transform: translate($translate)
				transform: translate3d($translate, 0)

	//&:last-child
		& > a, & > div
			.no-touchevents &[data-title]:hover
				&::before
					$translate: 0, 0
					transform: translate($translate)
					transform: translate3d($translate, 0)

// user-options--likes

// lang
.user-options--lang
	a
		text-align: left
		+padding-horizontal(round($uo-space--sm/2))

	.lang-select__opener
		width: 85px

		+media('<mob-lg')
			width: 40px
			text-align: center
			+padding-horizontal(round($uo-space--mob/2))

.lang-select__drop
	position: absolute
	left: 0
	top: 100%
	width: 100%
	min-width: 80px
	list-style: none
	margin: 0
	padding: 0
	font-size: 1.6rem
	line-height: 1
	letter-spacing: normal
	background-color: $header-bg

	.active-item
		display: none

	a
		display: block
		padding: 10px round($uo-space/2)
		color: white
		text-decoration: none
		white-space: nowrap

	// hover
	a
		&:hover
			background-color: $base-color

.lang-select__opener, .lang-select__drop a
	span
		& > i
			display: inline-block
			vertical-align: top
			width: 16px
			height: 12px
			margin: 2px 12px 0 0
			background-size: contain
			background-repeat: no-repeat
			background-position: center

.lang-select__opener
	span
		& > i
			// скрыть для мобил
			+media('<mob-lg')
				display: none

/* user options